/* Import custom font */
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {

    color: #248b4b;
}


/* Navbar */
.navbar-customclass {
    color: #7c2626;
}

.project-title {
    font-size: 20px;
    font-family: 'Lato';
}


/* Jumbotron and Header */
.jumbotron {
    /* background-image: url("../images/vintage_bb.gif"); */
    /* background-size: 33% 100%; */
    text-align: center;
    border-style: solid;
    font-family: 'Staatliches';
}

.jumbo-main {
    background-image: url('../images/vintage_bb.gif');
    background-size: 33% 100%;
    color: rgb(214, 157, 34);
}

.jumbo-pitch {
    background-image: url('../images/pitching.jpg');
    background-size: 100% 300%;
    color: rgb(214, 157, 34);
}

.header {
    text-align: center;
    font-family: 'Teko';
    color: rgb(197, 164, 18);
}


/* Menu Dropdown Button */
/* Code for dropdown menu found from https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;} 

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} 

/* Google slideshow */
.presentation {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
}

.presentation iframe {
border: 0;
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

.SelectionForm {
    font-family: Teko;
}




