/* Import custom font */
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {

    color: #248b4b;
}
.jumbotron {
    background-image: url("../images/baseball.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.header {
    text-align: center;
    font-family: 'Teko';
    color: rgb(197, 164, 18);
}